* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --clr-background: linear-gradient(to left, hsl(60, 1%, 24%), hsl(0, 0%, 13%));
  --clr-background-accent: hsl(0, 0%, 80%);
  --clr-primary-text: hsl(0, 0%, 70%);
  --clr-secondary-text: hsla(0, 0%, 70%, 0.5);
  --clr-primary-btn: hsl(30, 2%, 40%);
  --clr-secondary-btn: hsl(0, 0%, 44%, 0.123);
  --clr-primary-input: hsla(0, 0%, 71%, 0.123);
  --clr-secondary-input: hsl(0, 0%, 20%);
  --font-main: "Questrial", sans-serif;
}

body {
  font-family: var(--font-main);
  background: var(--clr-background);
  background-repeat: no-repeat;
}

.container-app {
  display: grid;
  grid-template-columns: minmax(200px, 20%) 1fr;
  height: 100dvh;
}

.container-sidebar {
  border-right: 2px solid var(--clr-primary-input);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--clr-primary-text);
  overflow-y: auto;
  gap: 1rem;
  padding: 2rem;
}

.container-notes {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 2rem;
}

.new-notes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto auto;
}

.new-notes button:hover {
  transition: all 0.2s ease-in-out;
  filter: brightness(1.2);
}

.new-notes button:active {
  transition: all 0.2s ease-in-out;
  scale: 1.1;
}

.container-notes button {
  width: fit-content;
  min-height: 4rem;
  background: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  margin-bottom: 2rem;
  margin-left: 1rem;
  padding: 0 0.5rem;
}

.new-note-btn {
  width: 100%;
  min-height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
  background: hsla(149, 37%, 49%, 0.137);
  font-family: var(--font-main);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--clr-primary-text);
  border-radius: 12px;
  border: none;
  cursor: pointer;
  box-shadow: #1d1d1d 0px 20px 20px -10px;
}

.new-note-btn:hover {
  background: hsla(149, 37%, 49%, 0.308);
  transition: all 0.2s ease-in-out;
}

.notes-list {
  position: relative;
  width: 100%;
}

.sidebar-note {
  min-height: fit-content;
  border-radius: 12px;
  background: var(--clr-primary-input);
  box-shadow: #1d1d1d 0px 20px 20px -10px;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.sidebar-note p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--clr-secondary-text);
}

.sidebar-note h5 {
  display: flex;
  justify-content: end;
  margin-top: 0.75rem;
}

.sidebar-note:hover {
  transition: all 0.2s ease-in-out;
  background: hsl(0, 0%, 33%);
  cursor: pointer;
}

.sidebar-note-active {
  background: hsl(0, 0%, 33%);
  border-right: 3px solid var(--clr-primary-text);
}

#newNoteTitle-input {
  width: 100%;
  min-height: 4rem;
  font-family: var(--font-main);
  font-size: 2rem;
  color: var(--clr-primary-text);
  font-weight: 700;
  background: var(--clr-primary-input);
  border-radius: 12px;
  border: none;
  box-shadow: #2b2b2b 0px 20px 20px -10px;
  outline: none;
  padding-inline: 1rem;
  text-overflow: ellipsis;
  margin-bottom: 2rem;
}

#newNote-input {
  width: 100%;
  height: 100%;
  font-family: var(--font-main);
  font-size: 1.3rem;
  color: var(--clr-primary-text);
  background: var(--clr-primary-input);
  overflow: hidden;
  border-radius: 12px;
  border: none;
  outline: none;
  resize: none;
  box-shadow: #2b2b2b 0px 20px 20px -10px;
  padding-inline: 1rem;
  padding: 1rem;
}
